@palette-white: #fff;
@palette-dark-purple: #221c29;

#themes { #dark-purple {
  .init() {
    @bg-color-primary: @palette-dark-purple;
    @bg-color-secondary: fade(@text-color-primary, 10%);
    @text-color-primary: @palette-white;
    @accent-gradient-1: linear-gradient(to right, #fcc4f8 0%,#5626a8 99%);

    .background() {
      background: @bg-color-primary;
    }

    .color() {
      color: @text-color-primary;
    }
  }
}}